@media screen and (max-width: 799px) {


.valider {
    font-size: 20px;
    padding: 15px 0px 15px 0px;
    border-radius: 50px;
    margin: 25px auto 35px auto;
    width: 250px;
    background-color: Fuchsia;
    color: white;
    border: none;
}

}

@media only screen and (min-width: 800px) and (max-width: 1280px){

    .valider {
        font-size: 20px;
        padding: 15px 0px 15px 0px;
        border-radius: 50px;
        margin: 25px auto 35px auto;
        width: 250px;
        background-color: Fuchsia;
        color: white;
        border: none;
    }

}

            /*        desktop      */

    .valider {
        font-size: 25px;
        padding: 25px 0px 25px 0px;
        border-radius: 50px;
        margin: 25px auto 35px auto;
        width: 400px;
        background-color: Fuchsia;
        color: white;
        border: none;
        }